#infeducation{
    text-align:center;
}
#education>div{
    display:flex;
    align-items: center;
    justify-content: space-around;
    border:solid purple 2px;
}
#education{
    padding-bottom:4%;
    background-color: white;
}
#education>h2{
    padding-bottom: 5%;
    font-family:Luckiest Guy;
    font-size:42px;
}