#contact{
     background-color:white;
}
#form{
   font-family:Tangerine;
   font-size:26px;
   text-align:center;
}
#outform{
    font-family:Tangerine;
    font-size:36px;
}
input{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration:none;
}
input:hover,input:active{
     text-decoration:none;
}
