#general>div{
   display: inline-block;
}
#insgeneral{
    margin-left: 11%;
    margin-right: 7%;
    padding-bottom: 6%;
    padding-right: 7%;
    -webkit-animation:anim 3s;
    background-color:#48C69D;
}
#insgeneral>ul{
    list-style-type: none;
    line-height: 450%;
}
#general>h2{
    display:flex;
    justify-content: center;
    margin: 0 25% 0 30%;
    padding-right: 25%;
    font-family:'Indie Flower';
    color: #48C69D;
    font-size: 32px;
}
.info{
    font-family:'Indie Flower';
    font-size: 32px;
}
#photo{
    width: 19%;
    margin-top: 10%;
    margin-left: 1%;
}
#general{
    padding-bottom: 10%;
    background-color:white;
}
