#hobbies{
    background-color: #DDF2F2;
    width: 100%;
    padding-top: 45%;
    padding-bottom: 5%;
}
.hobiimg{
    display: inline-flex;
    margin-left: 15%;
    margin-top: 10%;
}
.hobiimg>img{
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.hobiimg:hover>img{
    border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
.information{
    position: absolute;
    margin-top: 18%;
    margin-left: -75px;
    display: inline-flex;
}
#infhobbies{
    font-family: Bangers;
    margin-left: 5%;
}
.information>a{
    position:relative;
    text-decoration: none;
    font-family: "Lobster";
    color:#33242D
}