#skills>div{
color:#C4C4C4;
}
#barhtml{
    background-color: orangered;
}
#barjs{
    background-color: orange;
}
#insskills{
    text-align: center;
    font-family:"Lobster";
    font-size: 42px;
    padding-top: 30%;
    padding-bottom: 30%;
    color:white;
}
.col-sm-5{
    padding-left:3%;
    
}
.col-sm-4>li{
    list-style-image: url('');
    font-size: 18px;
    color:#C4C4C4;
}
#skill{
    padding-top: 0;
    padding-bottom:4%;
    background-color:#33242D;
}
.hideit
{
    opacity:0;
}