#skills>div{

}
#barhtml{
    background-color: orangered;
}
#barjs{
    background-color: orange;
}
#insskills{
    text-align: center;
    font-family:"Lobster";
    font-size: 42px;
    padding-top: 30%;
    padding-bottom: 30%;
    background-color:#BFBFBF;
}
.col-sm-5{
    padding-left:3%;
}
.col-sm-4>li{
    list-style-image: url('');
    font-size: 18px;
}
#skill{
    padding-top: 0;
    padding-bottom:4%;
    background-color:#FFFFFF;
}
.hideit
{
    opacity:0;
}