#work{
    background-color:#9c7b15;
    padding-bottom: 20%;
    color: white;
}
.workplace{
    margin-top: 4%;
    margin-left: 6%;
    margin-right:2%;
    background-color: black;
    width:25%;
    text-align: center;
    padding: 1% 1% 1% 1%;
}
.responsibility{
    font-size:21px;
    line-height: 140%;
    padding-right:8%;
    margin-top: 2%;
    margin-left: 6%;
    width: 58%;
    background-color:#CEB66C;
    color:black;
}
