#work{
background-color:white;
    padding-bottom: 20%;
    color: black;
}
.workplace{
    margin-top: 4%;
    margin-left: 6%;
    margin-right:2%;
    -background-color: #FFC173;
    width:25%;
    text-align: center;
    padding: 1% 1% 1% 1%;
}
.responsibility{
    font-size:21px;
    line-height: 140%;
    padding-right:8%;
    margin-top: 2%;
    margin-left: 6%;
    width: 58%;
    -background-color: #3E97D1;
}
